canvas{
    background: black;
    border: solid 2px green;
    border-radius: 2%;
    z-index: 1000;
}

.bgendalert{
    width: 100%;
    height: 100%;
    background-color: green;
    z-index: 1020;
    display: flex;
    position: relative;
}

.endscreen{
    background-color: grey;
    width: 300px;
    height: 300px;
    align-items: center;
    align-self: center;
    justify-content: center;
    z-index: 1000;
    position: static;
    display: none;
}

.form-control{
    width: 50%;
}

#canvasposition{
    align-items: center;
    align-self: center;
    justify-content: center;
    z-index: 1000;
}

#tablecontainer{
    align-self: flex-start;
    justify-content: flex-end;
    align-items: flex-start;
    a
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 20px;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }